.Tile{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid floralwhite;
    margin: 2px;
    padding: 0;
}
.white {
    background: greenyellow;
}
.gray {
    background: grey;
}
.bomb {
    background-image: url("../../assets/bomb.gif");
}